.boxSectores{
    width: 860px;
  
    display: inline-flex;
   
    flex-wrap: wrap;
  }

.boxSector{
    display: flex;
    justify-content: center;
    
}

.sect{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.novColor{
    color: rgb(48, 48, 221);
}