.container{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 33%, #193877 100%);
    box-shadow: 0 0 5px rgb(0, 7, 109);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.imgClas{
    width: 200px;
    height: 200px;
    margin-bottom: 4px;
}



h1{
    display: flex;
    align-items: center;
}

