<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<nav>
    <ul>
        <li><a href="/first">Página 1</a></li>
        <li><a href="/second">Página 2</a></li>
        <li><a href="/third">Página 3</a></li>
    </ul>
</nav>