<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/stylesheets/normalize.css/">
    

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <header class="head">
        <img src="/images/climb.jpg" alt="fotoPortada" class="imagenHead" >
        <h1>Escalada</h1>
    </header>

    {{{body}}}

    <footer>
        <p>Diseñado por Antonela Diomedi -&copy; 2022</p>
    </footer>
  </body>
   
</html>
